# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives:

- Popular Languages Data Scientists Use
- Commonly Used Libraries
- Application with Jupyter

Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
 1. NumPy
 2. SciPy
 3. Pandas
 4. Matplotlib

|Data Science Tools|
----- 
|RStudio|
|VScode|
|MySQL|

### Below are a few examples of evaluating arithmetic expressions in Python

 This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

 This will convert 200 minutes to hours by diving by 60

In [2]:
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author:

Chi Fang